#wrap {
    width: 1250px;
    margin: 0 auto;

}

header {
    display: flex;
}

.logo {
    width: 250px;
    height: 100px;
    background-color: #54D8DC;
}

.nav {
    width: 1000px;
    height: 100px;
    background-color: #86DADC;
}

.main {
    display: flex;
    width: 1247px;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main_1 {
    width: 415px;
    height: 880px;
}

.main_2 {
    width: 416px;
    height: 880px;
}

.main_3 {
    width: 416px;
    height: 880px;
}

.footer {
    display: flex;
}

.footer_left {
    width: 250px;
    height: 100px;
    background-color: #FDE1E0;
}

.footer_top {
    width: 1000px;
    height: 50px;
    background-color: #FECECE;
}

.footer_bot {
    width: 1000px;
    height: 50px;
    background-color: #FDB2B5;
}

@media (max-width: 680px) {
    #wrap {
        width: 680px;
    }

    header {
        display: block;
    }

    .logo {
        width: 680px;
        height: 100px;
    }

    .nav {
        width: 680px;
        height: 100px;
    }

    .main {
        display: block;
    }

    .main_1 {
        width: 680px;
        height: 225px;
    }

    .main_2 {
        width: 680px;
        height: 225px;
    }

    .main_3 {
        width: 680px;
        height: 225px;
    }

    .footer {
        display: block;
    }

    .footer_left {
        width: 680px;
        height: 100px;
    }

    .footer_right {
        width: 680px;
        height: 50px;
    }
}

@media (max-width: 450px) {
    #wrap {
        width: 100%;
    }

    .logo,
    .nav {
        width: 450px;
        height: 100px;
    }

    .main_1, .main_2 {
        width: 450px;
        height: 340px;
    }

    .main_3{
        display: none;
    }

    .footer_left{
        width: 450px;
        height: 200px;
    }

    .footer_right{
        display: none;
    }
}