h1{
    background-color: black;
    color: red;
}
.title{
    color: antiquewhite;
}
#id{

    color: blanchedalmond;
}
.class{
    background-color: aquamarine;
}
div{
    font-size: 2rem;
    font-weight: bold;
}

.dad>.baby{
    background-color: rgb(237, 129, 129);
    color: beige;
    width: 500px;
}
.dad .son{
    background-color: blue;
    width: 250px;
}
