.Header_wrap {
    height: 60px;
    background-color: #E7EAEF;
    display: flex;
    align-items: center;

    &.blog,
    &.apparel,
    &.checkout,
    &.contact {
        background-color: transparent; // ✅ BlogPage일 때 배경색 다르게
    }

    .header {
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 100%;
        padding: 0 13px;

        .btns {
            display: flex;
            gap: 16px;
        }

        .Menu,
        .Search,
        .sb {
            width: 24px;
            height: 24px;
        }

    }

    .Logo {
        width: 78px;
        position: absolute;
        height: 32px;
        right: calc(50% - 39px);

    }
}

.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logogroup {
        width: 162px;
        height: 24px;
        margin-bottom: 30px;
    }

    .line {
        width: 124px;
        height: 10px;
        justify-self: center;
        align-items: center;
    }

    p {
        font-family: "Tenor Sans";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2em;
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 2.0;
    }


    .menu {
        display: flex;
        gap: 40px;

        p {
            font-weight: 600;
        }
    }

    .bottom {
        background-color: #C4C4C4;
        width: 375px;
        height: 45px;

        p {
            letter-spacing: 0.05em;
            font-size: 12px;
        }
    }
}

.Homepage_wrap {
    position: relative;
    height: 600px;

    .page1 {
        position: relative;
        width: 100%;

        .hp1 {
            width: 100%;
            display: block;
        }

        p,
        .pbtn1 {
            position: absolute;
        }

        p {
            top: 30%;
            left: 10%;
            font-size: 39px;
            line-height: 1.4;
            color: #333333;
            font-family: "Bodoni Moda", serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
        }

        .pbtn1 {
            width: 253px;
            height: 40px;
            top: 85%;
            left: 18%;
            padding: 8px 30px;
            border: none;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            font-family: "Tenor Sans";
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
        }

        .group {
            position: absolute;
            width: 40px;
            height: 8px;
            top: calc(85% + 50px);
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .page2 {
        padding: 60px 20px;
        text-align: center;
        font-family: 'Tenor Sans', serif;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
        position: relative;

        .title {
            width: 375px;
            height: 50px;
        }

        .menu {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
            position: relative;
            margin-top: 20px;
        }

        .item {
            position: relative;
            font-size: 16px;
            color: #888888;
            cursor: pointer;
            transition: all 0.3s;

            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                height: 6px;
                background-color: #B97B56;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s;
            }

            &:hover {
                color: #000;
                font-weight: 600;

                &::after {
                    opacity: 1;
                }
            }

            &.active {
                color: #000;
                font-weight: 600;

                &::after {
                    opacity: 1;
                }
            }


        }

        .picture1 {
            display: flex;
            margin-bottom: 10px;

            .img1,
            .img2 {
                width: 165px;
                height: 260px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .picture2 {
            display: flex;
            margin-bottom: 30px;

            .img3,
            .img4 {
                width: 165px;
                height: 260px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .click {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;

            h1 {
                font-size: 16px;
                font-weight: 200;
                margin-left: 60px;
            }

            .ForwardArrow {
                width: 18px;
                height: 18px;
            }
        }

        .brand {
            margin-top: 60px;
            margin-bottom: 30px;
            align-items: center;
            justify-content: center;
        }
    }

    .page3 {
        text-align: center;

        h3 {
            font-family: "Tenor Sans";
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            margin-bottom: 30px;
        }

        .page3_2 {
            width: 259px;
            height: 296px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

    }

    .page4 {
        h3 {
            font-family: "Tenor Sans";
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
            margin-top: 60px;
        }

        .line {
            width: 124px;
            height: 10px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .picture {
            display: flex;

            .img2 {
                width: 255px;
                height: 390px;
                margin-right: 20px;
            }

            .page4 {
                width: 255px;
                height: 390px;
            }
        }

        .indicator {
            width: 35px;
            height: 10px;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .trending {
            text-align: center;
            margin-top: 60px;
            margin-bottom: 50px;

            h3 {
                font-family: "Tenor Sans";
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 0.2em;
                margin-bottom: 20px;
            }

            .hashtags {
                display: flex;
                flex-wrap: wrap; // 줄 바꿈 허용
                justify-content: center; // 가운데 정렬
                gap: 9px; // 태그 간 간격
            }

            .tag {
                background-color: #f9f9f9;
                padding: 8px 16px;
                border-radius: 20px;
                font-size: 14px;
                color: #333333;
                font-family: "Tenor Sans";
                cursor: pointer;
                transition: background-color 0.3s;

            }
        }
    }

    .page5 {
        width: 380px;
        height: 465px;
        background-color: #f2f2f2;
        text-align: center;

        .page5_logo {
            width: 97px;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        p {
            font-family: "Tenor Sans";
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.1em;
            margin-bottom: 20px;
        }

        .line {
            width: 124px;
            height: 10px;
        }

        .sec1 {
            display: flex;
            gap: 20px;

            .sti1,
            .sti2 {
                width: 52px;
                height: 36px;
            }

            .sticker1 {
                margin-left: 10px;
            }
        }

        .sec2 {
            display: flex;

            .sticker3 {
                margin-left: 10px;
            }

            .sti3,
            .sti4 {
                width: 52px;
                height: 36px;
            }
        }

        .logo2 {
            width: 66px;
            height: 40px;
            margin-top: 30px;
        }

    }

    .page6 {
        text-align: center;

        h3 {
            font-family: "Tenor Sans";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.2em;
            margin-bottom: 20px;
            margin-top: 40px;
        }

        .insta {
            width: 24px;
            height: 24px;
        }

        .sec1 {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .sec2 {
            display: flex;
            gap: 20px;
        }

        .logogroup {
            width: 162px;
            height: 24px;
            display: flex;
            justify-self: center;
            align-items: center;
            margin-top: 30px;
        }

        .line {
            width: 124px;
            height: 10px;
            justify-self: center;
            align-items: center;
            margin-top: 20px;
        }

    }


}

.blogpage_wrap {
    position: relative;

    .header {
        text-align: center;
        margin-bottom: 40px;

        p {
            font-family: "Tenor Sans";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.2em;
            margin-bottom: 10px;
            margin-top: 30px;
        }

        .line {
            width: 124px;
            height: 10px;
        }

        .tag {
            background-color: #f9f9f9;
            padding: 8px 16px;
            gap: 5px;
            border-radius: 20px;
            font-size: 14px;
            color: #333333;
            font-family: "Tenor Sans";
            cursor: pointer;
            margin-right: 8px;
        }
    }

    .feed1,
    .feed2,
    .feed3,
    .feed4 {
        text-align: center;
        margin-bottom: 20px;

        .blog1,
        .blog2,
        .blog3,
        .blog4 {
            width: 343px;
            height: 200px;
        }

        .word {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            font-family: "Tenor Sans";

            .tags {
                display: flex;
                gap: 8px;

                .tag {
                    border: 1px solid #868585;
                    padding: 6px 12px;
                    font-size: 12px;
                    border-radius: 20px;
                    color: #333;
                    cursor: pointer;
                }
            }

            .date {
                color: #868585;
            }
        }
    }

    .load-more-btn {
        display: block;
        margin: 0 auto;
        gap: 12px;
        padding: 12px 24px;
        border: 1px solid #ccc;
        background-color: white;
        color: #000;
        font-family: "Tenor Sans", sans-serif;
        font-size: 16px;
        cursor: pointer;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }
}

.menu-page {
    font-family: "Tenor Sans", sans-serif;
    font-size: 16px;

    .close-btn {
        width: 24px;
        height: 24px;
    }

    .section {
        display: flex;
        margin-top: 10px;

        .item {
            position: relative;
            font-size: 16px;
            color: #888888;
            cursor: pointer;
            transition: all 0.3s;
            margin-right: 40px;

            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                height: 6px;
                background-color: #B97B56;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s;

            }

            &:hover {
                color: #000;
                font-weight: 600;

                &::after {
                    opacity: 1;
                }
            }

            &.active {
                color: #000;
                font-weight: 600;

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .choice {
        margin-top: 30px;
        margin-bottom: 30px;

        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;

            img {
                width: 14px;
                height: 14px;
            }
        }
    }

    .call,
    .location {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .line {
            width: 124px;
            height: 10px;
            margin-bottom: 30px;
        }

        .logogroup {
            width: 142px;
            height: 24px;
        }
    }

}

.apparel_wrap {
    font-family: "Tenor Sans", sans-serif;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sec1 {
            font-size: 18px;
            font-weight: 400;
            color: #333;

            p {
                margin: 0;
                letter-spacing: 0.05em;
            }
        }

        .sec2 {
            display: flex;
            align-items: center;
            gap: 12px;

            .btn1 {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 8px 16px;
                background-color: #f9f9f9;
                border-radius: 999px;
                cursor: pointer;

                p {
                    font-size: 14px;
                    color: #333;
                    margin: 0;
                }

                .down {
                    width: 20px;
                    height: 20px;
                }
            }

            .btn2,
            .btn3 {
                width: 40px;
                height: 40px;
                background-color: #f9f9f9;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;


                .grid,
                .filter {
                    width: 20px;
                    height: 20px;
                    opacity: 0.6;
                }
            }
        }
    }

    .box {
        display: flex;
        margin-top: 30px;

        .box1 {
            width: 100px;
            height: 134px;
            margin-right: 20px;
        }

        .detail {
            width: 231px;
            height: 130px;
        }
    }

    .number {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .page,
    .arrow {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4f4;
        color: #444;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
    }

    .pageb {
        background-color: #222;
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrow {
        background-color: transparent;
        font-size: 18px;
        color: #222;
    }

}

.checkout_wrap {
    font-family: "Tenor Sans", sans-serif;

    .cheader {
        text-align: center;

        h2 {
            letter-spacing: 0.2em;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .line {
            width: 124px;
            height: 10px;
        }
    }

    .item {
        display: flex;

        .box1 {
            width: 100px;
            height: 134px;
            margin-right: 10px;
        }

        .detail {
            width: 200px;
            height: 130px;
        }
    }

    .promo {
        .line2 {
            margin-top: 20px;
        }

        .code1 {
            display: flex;
            margin-top: 20px;

            .voucher {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }

        .code {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .door {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }

        .deli {
            display: flex;
        }
    }

    .cfooter {
        .total {
            margin-top: 260px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .tag2 {
            color: #e09b73;
        }
    }

    .checkbox {
        width: 375px;
        height: 56px;
        background-color: #868585;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .sb {
            width: 24px;
            height: 24px;
            margin-right: 20px;
        }
    }
}

.search_wrap {
    font-family: "Tenor Sans", sans-serif;

    .input {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;

            .Searchicon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                margin-top: 20px;
            }
        }
    }

    .line2 {
        margin-top: 10px;
    }

    h3 {
        color: #868585;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.contact_wrap {
    font-family: "Tenor Sans", sans-serif;

    .us {
        text-align: center;
        margin-top: 30px;

        h3 {
            font-size: 18px;
        }

        .line {
            width: 124px;
            height: 35px;
        }
    }

    .cbox {
        margin-top: 50px;
        text-align: center;
        .cm, .am, .tw {
            width: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        .blackbox {
            width: 187px;
            height: 40px;
            background-color: #000;
            display: flex; 
            align-items: center; 
            justify-content: center;
            margin-left: 25%;
            margin-top: 20px;
            p {
                color: #fff;
            }
        }
    }

}