.header{
    width: 300px;
    height: 273px;
    align-items: center;
}

.main .first p{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.main .second h3{
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
}
.footer h3{
    text-align: center;
}
.box{
    width: 343px;
    height: 60px;
    border-radius: 20px;
    background-color: #31A062;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer p{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}